@{
    //var item=Sitecore.Context.Database.GetItem("/sitecore/content/Sitecoreblog/SiteSetting/SiteSetting");
    var item = Sitecore.Context.Database.GetItem("{F5BF3822-C8CC-47DA-BFA4-9C5CE6912BD3}");
}
<Footer>
    <div class="container">
        <div class="text-while bg-primary">
            <p class="lead">@Html.Sitecore().Field("Copyright",item)</p>
            </div>
        </div>
    </Footer>

